.opportunity-details {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin: 20px;
    outline: 3px solid #e7e7e7;
  }

  /* .opportunity-details:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  } */

  .opp-name {
    color: #333;
    margin: 0 0 0px 0;
  }

  .opportunity-details {
    color: #000;
  }

  .main-button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    /* text-transform: uppercase; */
    transition: background-color 0.2s ease;
    width: 100%;
  }

  .main-button:hover {
    background-color: #444444;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  .opportunity-details.selected {
    outline: 3px solid #ddc806;
    outline-offset: -3px;
    background-color: #f4d600;
  }

  .opportunity-details.selected .bubble {
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 50px;
    margin-right: 10px;
    width: fit-content;
  }

  .opportunity-details.selected .main-button {
    background-color: #ffed7a;
    color: #e2d669;
  }

  .bubble {
    background-color: #6b6b6b;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    margin-right: 10px;
    width: fit-content;
  }
  .bubble-box {
    display: flex;
    align-items: center;
  }

  .description {
    margin: 0px;
    margin-bottom: 10px;
    /* padding: 30px; */
  }
