/* Submissions.css or equivalent */
.music-player-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: #f1f3f4;
    /* background: #ff1515; */
    padding: 15px; /* Adjust padding as needed */
    /* box-shadow: 0 -2px 5px rgba(0,0,0,0.3); */
    z-index: 1000; /* Ensure it stays above other content */
    left: 50%;
    transform: translateX(-50%);
    /* margin-bottom: 20px; */
    /* border-radius: 10px; */
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    /* border: 3px solid #e0e0e0; */
  }



  .song-name {
    margin-bottom: 10px;
  }

  .sub-top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 60px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .sub-top-2 {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    max-height: 45px;
  }

.sub-page {
  padding-bottom: 140px;
}

.tab-active {
  background-color: #000000;
  color: #FFE600; /* Active text color */
  border-bottom: 3px solid #FFE600;
  border-radius: 0px;
  font-weight: bold;
}

.tab-inactive {
  background-color: #ffffff; /* Inactive background color */
  color: black; /* Inactive text color */
  border-radius: 0px;
}

.tab-bar {
  margin-bottom: 10px;
}

.search-download-sec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-download-sec
input[type="text"] {
  max-width: 300px;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  background-color: #F2F1F0;
}

.download-all-button {
  margin-right: 0px;
}
