.profile-page {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .header-section {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    outline: 3px solid #0b0b0b;
    background-color: #f4d600;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }

  .header-info {
    flex: 1;
  }

  .buttons-list {
    display: flex;
    gap: 10px;
  }

  .buttons-list button {
    /* background-color: #007bff;
    color: white; */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .buttons-list button:hover {
    background-color: #ffffff;
    color: #0b0b0b;
  }

  .profile-info {
    margin-top: 20px;
  }

  .card {
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    outline: 3px solid #0b0b0b;
    /* background-color: #f4d600; */
  }

  .genres-types {
    margin-top: 20px;
  }

  .genres-types ul {
    list-style: none;
    padding-left: 0;
  }

  .genres-types li {
    background-color: #f4f4f4;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
  }
