/* SubmissionItem.css */
.submission-item {
    cursor: pointer;
  }

/* .submission-item:hover {
  background-color: #f2f2f2;
} */

/* .submission-item-container {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  margin: 5px;
  outline: 3px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.submission-item-container {
  background-color: #f2f2f2;
  /* border-radius: 8px; */
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  /* margin-bottom: 20px; */
  /* margin: 5px; */
  /* outline: 3px solid #e7e7e7; */
  border-bottom: 3px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submission-item-container:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}

.submission-status-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submission-item p {
  margin: 2px;
}

.sub-left {
  display: flex;
  align-items: center;
}

.delete {
  background-color: red;
  cursor: pointer;
}

.submission-item-container.playing {
  background-color: #fff9c5;
  outline: 3px solid #FFE600;
  outline-offset: -3px;
}

.status-text {
  margin-right: 10px;
}

.submission-item.playing {
  background-color: #f0f0f0; /* Light grey, adjust as needed */
  border-left: 4px solid #007bff; /* Blue, adjust as needed */
}

.highlighted {
  background-color: #FFE600; /* Example style */
  color: #000000;
}

.download-icon {
  color: #000000;
}

.status-btn {
  /* Base button styles */
}

.status-btn.accepted {
  /* Styles specific to the accepted button */
}

.status-btn.rejected {
  /* Styles specific to the rejected button */
}

.status-btn.highlighted {
  /* Styles to highlight the button */
}
