.opportunities-layout {
    display: flex;
    height: 90vh; /* Full height of the viewport */
  }

  .opportunities-sidebar {
    width: 30%;
    border-right: 3px solid #eeeeee;
    overflow-y: auto; /* Enable vertical scroll */
    max-height: 900vh;
    padding: 0;
    list-style-type: none; /* Remove default list styling */
  }

  .opportunities-content {
    flex: 1; /* Take up remaining space */
    padding: 20px;
    overflow-y: auto; /* Enable vertical scroll for content area */
  }

  .search-container {
    position: sticky;
    top: 0;
    z-index: 10; /* Ensure it stays above other content */
    background-color: white; /* Match your background or use a contrasting color */
    padding: 10px; /* Optional for spacing */
    border-bottom: 1px solid #ccc; /* Optional for visual separation */
  }

  .search-second-row {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Distributes space between items */
    gap: 10px; /* Adjust the gap between items */
  }

  .search-second-row select, .search-second-row button {
    flex: 1; /* Allows each item to grow and fill the space */
    /* Additional styling for selects and button */
  }

  .search-container input[type="text"] {
    background-color: #F2F1F0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    color: #333;
  }

  .search-container input[type="text"]:focus {
    border-collapse: collapse;
    background-color: #F2F1F0;
    color: #000000;
    overflow: hidden;
  }

  .search-container select {
    background-color: #F2F1F0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    color: #333;
    border-color: #fff;
    border: 1px solid #dcdcdc;

  }

  .search-container button {
    background-color: #fff;
    color: #bcbcbc;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
  }

  .search-container button:hover {

    border: 1px solid;
  }
