.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-left, .player-right {
    flex-grow: 1; /* Allow these sections to grow but less aggressively than the middle */
}

.player-middle {
    flex-grow: 2; /* Allow this section to take up more space */
    display: flex;
    flex-direction: column; /* Stack the player and controls vertically */
    align-items: center; /* Center-align the player controls */
}

.player-middle {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .time-display-left,
  .time-display-right {
    flex: 1;
  }

  .progress-bar {
    width: calc(100% - 120px); /* Adjust based on your needs */
    margin: 0 10px;
  }
