.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-left, .player-right {
    width: 250px; /* Set a fixed width for these sections */
    min-width: 150px; /* Ensure they do not shrink below this width */
}

.player-middle {
    flex-grow: 2; /* Allow this section to take up more space */
    display: flex;
    flex-direction: column; /* Stack the player and controls vertically */
    align-items: center; /* Center-align the player controls */
    gap: 5px; /* Add some space between the player and controls */
}

.progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Updated for alignment */
    gap: 20px; /* Add some space between the progress bar and time displays */
}


.progress-bar {
    width: calc(100% - 240px); /* Adjust this width based on the fixed width of the left and right panels */
    margin: 0 10px;
}


  .time-display-left,
  .time-display-right {
    flex: 1;
  }

  .waveform {
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    position: relative;
  }
