button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
  }

  button.active {
    background-color: #000;
    color: #ffe600;
    border-color: #007bff;
    border: 3px solid #ffe600;
    margin-bottom: 10px;
  }
