body {
    margin: 0;
    padding: 0;
    color: #232323;
    font-family: 'Arial', sans-serif;
 }


 a {
    color: #81d2fa;
    text-decoration: none;
 }

/* Designing the scroll bar */

 ::-webkit-scrollbar {
    width: 12px;
 }

 ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
 }

 ::-webkit-scrollbar-track {
    background: #e6e6e6;
 }

 ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 3px solid #333;
    background-color: #f4d600;
 }

/* ------------------- */


button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
 }


 button:hover {
    background-color: #f4d600;
    color:#000
 }

/* Form styling */

 form {
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid #333;
 }


 input[type="text"],
 input[type="password"],
 input[type="email"],
 input[type="number"],
 textarea {
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px 0;
    width: calc(100% - 22px);
 }


 select {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border-radius: 4px;
    -webkit-appearance: none;
    appearance: none;
 }


 label {
    display: block;
    margin-bottom: 5px;
 }

 input[type="text"]:focus,
 input[type="password"]:focus,
 input[type="email"]:focus,
 textarea:focus {
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
    overflow: hidden;
 }


/* Table styling */

 table {
    width: 100%;
    border-collapse: collapse;
    /* background-color: #333;
    color: #fff; */
    overflow: hidden;
    margin-bottom: 20px;
 }


 th {

    text-align: left;
    padding: 10px;
    font-size: 16px;
 }


 tr {
    border-bottom: 1px solid #555;
 }


 td {
    padding: 8px;
    font-size: 14px;
 }


 tr:hover {
    background-color: #e3e3e3;
 }


 tbody tr:nth-child(odd) {
    background-color: #f4f4f4;
 }


 @media (max-width: 768px) {
    .table-responsive {
      overflow-x: auto;
    }
 }
 .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
 }


 .check-item {
    display: flex;
    align-items: center;
  }


 .check-item input[type="checkbox"] {
    margin-right: 8px;
 }


