.opp-form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

.opp-button {
    background-color: #f4d600;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
}
